button onclick="changeRating(+1000);" class='btn btn-success btn-sm' +1000
button onclick="changeRating(+100);" class='btn btn-success btn-sm' +100
button onclick="changeRating(+50);" class='btn btn-success btn-sm' +50
button onclick="changeRating(+10);" class='btn btn-success btn-sm' +10
button onclick="changeRating(-10);" class='btn btn-danger btn-sm' -10
button onclick="changeRating(-50);" class='btn btn-danger btn-sm' -50
button onclick="changeRating(-100);" class='btn btn-danger btn-sm' -100
button onclick="changeRating(-1000);" class='btn btn-danger btn-sm' -1000