.image-modal-content {
  max-width: 1200px;
}

.modal-image {
  max-height: 100%;
  max-width: 100%;
}

.show-pointer {
  cursor: pointer;
}

.page-logo {
  max-width: 100%;
}

.page-logo-container {
  height: 100px;
  overflow: hidden;
}